.order-confirmation-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    text-align: center;
    margin: 80px auto;
    min-height: 300px; 
  }
  
  .order-confirmation-heading {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .order-items, .order-address, .order-total {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin-bottom: 20px;
  }
  
  .order-item-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 20px;
  }
  
  .place-order-button {
    background: #3d28a79a;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .place-order-button:hover {
    background: #212d88eb;
  }