.homepage {
    padding: 20px;
    text-align: center;
  }
  
  .product-grid {
    display: flex;
    
    gap: 40px;
    justify-items: center;
    margin-top: 150px;
  }
  
  h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  